@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.ant-menu-item-selected {
  background-color: #004080 !important;
  color: white !important;
}
